<div class="attributes">
    <div ng-repeat="attribute in attributes">
        {{attribute.name}}
        <div ng-repeat="attributeValue in attribute.attributes">
            <input id="attr-{{attributeValue.id}}" type="radio" name="filter" ng-click="filterByAttribute(attributeValue.id)">
            <label for="attr-{{attributeValue.id}}">{{attributeValue.stringValue}}</label>
        </div>
    </div>
</div>
<div class="products">
    <div class="product" ng-repeat="product in products">
        <a href="#/product/show/{{product.id}}">{{product.name}}</a>
        <button class="product__control-buy" ng-click="addToCart(product.id)">Buy</button>
    </div>
</div>

