.app-content {
    margin: 0 auto;
    width: 900px;
}

.categories {
    background-color: rgba(236, 236, 236, 0.64);
}

.categories li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;

}

.categories ul:after {
    content: ' ';
    display: block;
}

.categories__category-item {
    /*float: left;*/
    padding: 10px 20px;
    display: inline-block;
}

.categories__category-item:hover .categories__sub {
    display: block;
}

.categories__sub {
    display: none;
    position: absolute;
    background: rgb(208, 208, 208);
    padding: 10px;
    margin-top: 10px;
}

/* logo */

.logo {
    display: inline-block;
}

/* search */

.search {
    display: inline-block;
}

/* cart */

.cart {
    display: inline-block;
    float: right;
}




